<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
    
<listeners>
		<listener class-name="org.uncommons.reportng.HTMLReporter" />
		<listener class-name="org.uncommons.reportng.JUnitXMLReporter" />
</listeners>

    <!--
    <test name="Meal Management" preserve-order="true">
        <classes>
            <class name="com.ptl.PIMS.TestCases.MealManagement.CreateSupplierTest" />
            <class name="com.ptl.PIMS.TestCases.MealManagement.CreateKitchenItemTest" />
            <class name="com.ptl.PIMS.TestCases.MealManagement.CreateRecipeTest" />
            <class name="com.ptl.PIMS.TestCases.MealManagement.DemandOrderTest" />
            <class name="com.ptl.PIMS.TestCases.MealManagement.KitchenSlipTest" />
            <class name="com.ptl.PIMS.TestCases.MealManagement.PurchaseOrderTest" />
            <class name="com.ptl.PIMS.TestCases.MealManagement.GoodReceivedTest" />
        </classes>
    </test>

    <test name="Appeal Management">
        <classes>
            <class name="com.ptl.PIMS.TestCases.AppealManagement.AppealCreateUpdateTest" />
            <class name="com.ptl.PIMS.TestCases.AppealManagement.ApproveAppealTest" />
        </classes>
    </test>

    <test name="Industrial Training">
        <classes>
            <class name="com.ptl.PIMS.TestCases.IndustrialManagement.IndustrialTrainingTest" />
            <class name="com.ptl.PIMS.TestCases.IndustrialManagement.IndustrialAttendanceTest" />
            <class name="com.ptl.PIMS.TestCases.IndustrialManagement.CreateWagesTest" />
        </classes>
    </test>
    -->
    <test name="Vocational Training">
        <classes>
            <class name="com.ptl.PIMS.TestCases.VocationalManagement.VOCProgramTest"/>
            <class name="com.ptl.PIMS.TestCases.VocationalManagement.VOCParticipantTest"/>
        </classes>
    </test>
    <!--
  <test name="Rehabilitation Management">
      <classes>
          <class name="com.ptl.PIMS.TestCases.RehabilitationManagement.ActionPlanTest" />
          <class name="com.ptl.PIMS.TestCases.RehabilitationManagement.RehabilitationSheduleTest" />
      </classes>
  </test>

  <test name="Discipline Management">
      <classes>
          <class name="com.ptl.PIMS.TestCases.DisciplineManagement.DisciplineTest" />
      </classes>
  </test>

  <test name="Movement Management">
      <classes>
          <class name="com.ptl.PIMS.TestCases.MovementManagement.MovementOutInTest" />
      </classes>
  </test>-->
<!-- 	
	<test name="Incidence Management">
	    <classes>
	        <class name="com.ptl.PIMS.TestCases.IncidenceManagement.IncidenceTest" />	        			
	    </classes>	    
	</test>	
	
	<test name="Escort Management">
	    <classes>
	        <class name="com.ptl.PIMS.TestCases.EscortManagement.EscortCreateUpdateTest" />	        			
	        <class name="com.ptl.PIMS.TestCases.EscortManagement.EscortRecordInOutTest" />	        			
	    </classes>	    
	</test> -->
<!-- 
	<test name="Transfer Management">
	    <classes>
	        <class name="com.ptl.PIMS.TestCases.TransferManagement.TransferOutInTest" />	        			
	    </classes>	    
	</test>	
 -->
<!-- 	<test name="Visit Management">
	    <classes>
	        <class name="com.ptl.PIMS.TestCases.VisitManagement.VisitManagementTest" />	        			
	        <class name="com.ptl.PIMS.TestCases.VisitManagement.AdditionalVisitTest" />	        			
	    </classes>	    
	</test> -->

</suite>
